@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

*{
  margin: 0;  
 padding: 0;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
	-osx-font-smoothing: grayscale;
  font-weight: 300;
}

 nav{
  width: 100%;
  height: 95vh;
  z-index: 2;
  top:0;
  width:100%;
  background-image: url("../img/back1.jpg");
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;

}

nav ul{
  height:65px;
  background-color: white;
  position:fixed;
  width:100%; 
}

ul li{
  float: right;
  display: inline;
  padding:20px 2px 0px 5px;
  font-size: 16px;
  margin-right:10px;
}

li a{
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size:20px;
  font-weight:300;
  transition: all 0.2s ease;
  
}

.intro{
  
  color: white;
  text-align: center;
}
h3{
  font-weight: 300;
  font-family: 'Lato',sans-serif;
  font-size: 72px;
  padding-top: 20%;
}
li a:hover{
  text-decoration: line-through;
  transition: all 0.2s ease;
  
}

.container{
  margin: 0 auto;
  text-align: center;
}

.span{
  float: left;
  font-size:21px;
  color:white;
  padding:6px 5px;
  margin:15px 15px 0;
  background: #000;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

#things{
  padding-top: 50px;
  text-align: center;
  
}

h1{ 
  color:#1a1a1a;
  font-weight:300;
  text-align: center;
  padding-top: 40px;
}

#content{
  padding-top:50px;
  color:#444444;
  line-height:27px;
  font-size:17px;
  width: 90%;
  margin: auto;
  text-align: left;
  letter-spacing: 0.5px;
  
}
.fa{
  color:#404040;
  padding-top: 40px;
  font-size:60px;
  text-align: center;
}

li{
  display: inline-block;
}

hr{
  width:10%;
  margin: 5px auto;
  background-color:#C6415A;
  color:#C6415A; 
}
.title{

  padding:50px 0px;
}

.parody{
  background-color: #EDEDED;
  margin: auto;
  padding-top: 50px;
 position: relative;

}

h2{
  color: #555;
}
b{
  color: grey;
  font-weight: 300;
}
.comments{
  float: right;
  padding-top:20px;
 
}

.pic{
  height:170px;
  width: 170px;
  border-radius:50%;
  display: inline-block;
  float: left;
  background-size: cover;
  background-position: center;
  text-align: center;
  margin:auto;
  
}
.pic1{
  margin-right:20px;
  background-image: url("../img/profiles/timcook.jpg");
}


.pic2{
  margin-right:20px;
  background-image: url("../img/profiles/donald.jpg");
}
.pic3{
  margin-right:20px;
  background-image: url("../img/profiles/travis.jpg");
}
.pic4{
  margin-right:20px;
  background-image: url("../img/profiles/kanye.jpg");
}
.lastfooter{
  height: 100px;
  width: 100%;
  background-color: #167884;
  text-align: center;
  clear: both;
  bottom: 0;
  
}

.lastfooter p{
  padding-top: 20px;
  color: white;
  font-weight: 300;
  font-size:12px;
  text-transform: capitalize;
  letter-spacing: 0.4px;
  font-family: 'Lato', sans-serif ;
 
}

.lastfooter .links{
  padding-top: 40px;
}

.lastfooter a{
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  font-family: 'Lato';
  margin:25px;
  transition: all 0.2s ease;
}

.lastfooter a:hover{
  border-bottom:1px solid white;
  padding-bottom: 10px;
}

::selection{
  background-color:#EB7155;
  color: white;
}

@media screen and (max-width:560px){
  #things{
    display:block;
  }

  .box1, .box2{
    width: 100%;
    display: block;
  }
  .lastfooter .links a{
    margin:2px;
  }
  
  .parody{
    
  }
}